<div class="bg">
<div class="text">
<h1>All Parts</h1>
</div>
<hr/>
<div class="text">
<br></br>
<%@parts.each do |p|%>
    <li><%= link_to p.description, part_path(p) %></li>
<%end%>
</div>
<div class="footer">
<hr/>
<div class="text">
<a href="/user/profile"<button type="button" class="btn btn-outline-dark btn-sm">My Profile</button></a>
<a href='/logout'<button type="button logout" class="btn btn-outline-dark btn-sm">Logout</button></a>
</div>
</div>
</div>