<div class="bg">
<div class="text">
<% if flash[:errors] %>
<% flash[:errors].each do |e|%>
    <li style="color:red"><%= e %></li>
<%end%>
<%end%>
<h1> Build My Setup </h1>
</div>
<hr/>
<div class="text">
<br>
<%= form_with model: @setup, :url => url_for(:controller => 'setups', :action => 'create') do |f|%>
    What do you want your setup name to be? <%= f.text_field :name %>
    <br>
    What is your max budget?  <select name="max_budget" id="budget">
    <option value="">Please Select</option>
    <option value=1000>$1000</option>
    <option value=1500>$1500</option>
    <option value=2000>$2000</option>
    <option value=3500>$3500</option>
    </select>
    <br>
    What is the primary use for this computer?  <select name="use" id="use">
    <option value="">Please Select</option>
    <option value="Gaming">Gaming</option>
    <option value="Software">Software Engineering</option>
    <option value="Video">Video Editing</option>
    <option value="Graphic">Graphic Design</option>
    </select>
    <br>
    How important is a large monitor?  <select name="size" id="size">
    <option value="">Please Select</option>
    <option value="Large">Large is a necessity</option>
    <option value="Large or Average">Large is preferred, but Average is good</option>
    <option value="Average">Average is preferred</option>
    </select>
    <br>
    Do you want your setup to be colorful?  <select name="color" id="color">
    <option value="">Please Select</option>
    <option value="RGB">RGB - Give me the rainbow!</option>
    <option value="No Color">No Color</option>
    </select>
    <br></br>
    <%= f.submit "Submit" %>
<%end%>
</div>
<div class="footer">
<hr/>
<div class="text">
<a href="/user/profile"<button type="button" class="btn btn-outline-dark btn-sm">My Profile</button></a>
<a href='/logout'<button type="button logout" class="btn btn-outline-dark btn-sm">Logout</button></a>
</div>
</div>
</div>
