<div class="bg">
<div class="text">
<% flash.each do | key, v | %>
    <p style='color: green '> <%= v %> </p>
    <%end %>

<h1>Welcome, <%=@user.name%></h1>
</div>
<hr/>
<div class="text">
<%@setups.each do |s|%>
    <a href="<%=setup_path(s)%>"<button type="button" class="btn btn-outline-dark btn-sm"><%=s.name%></button></a>
    <br></br>
    <%end%>
<br>
<h5>Looking for a new setup?</h5>
<a href="/setups/new"<button type="button" class="btn btn-outline-dark">Take Quiz</button></a>
</div>
<div class="footer">
<hr/>
<div class="text">
<a href='/logout'<button type="button logout" class="btn btn-outline-dark btn-sm">Logout</button></a>
</div>
</div>
</div>