@import 'bootstrap/dist/css/bootstrap';

body, html {
    height: 100%;

}
.bg {
    /* The image used */
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v461-taus-14a-modernblackandwhite_1.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=1000&s=a8e51fbb4706d02b65eb8b111b6f8414');
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.text{
    // margin: 0px 10px 10px 10px
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 10px;
    margin-right: 45px;
    margin-left: 45px;
    font-family: Arial;
}

.container{
    text-align: center;
    width: 300px;  
    height: 200px;  
    padding-top: 70px;  
} 

.box {
    width: 160px;
    border: 1px solid #000000;
    padding: 4px;
    margin: 0px;
    color: #000000;
    background-color: rgb(231, 231, 231);
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: Transparent;
    color: white;
    text-align: left;
}

.t-image {
    position: relative; /* Declared position allows for location changes */
    top: -3px; /* Moves the image 2px closer to the top of the page */
}