<div class="bg">
<div class="text">
<h1>Select a Category</h1>
</div>
<hr/>
<div class="text">
<br></br>
<%@categories.each do |c|%>
    <a style="padding-top: 1px;padding-bottom: 1px;"href= <%=category_path(c)%>"<button type="button" class="btn btn-outline-dark btn-sm""><%=c.name%></button></a>
    <div style="height:4px;font-size:1px;">&nbsp;</div>
<%end%>
</div>
<div class="footer">
<hr/>
<div class="text">
<a href="/user/profile"<button type="button" class="btn btn-outline-dark btn-sm">My Profile</button></a>
<a href='/logout'<button type="button logout" class="btn btn-outline-dark btn-sm">Logout</button></a>
</div>
</div>
</div>