<div class="bg">
<div class="text">
<h1><%=@category.name%></h1>
</div>
<hr/>
<div class="text">
<br></br>
<%@parts.each do |p|%>
    <a style="padding-top: 1px;padding-bottom: 1px;"href= /parts/<%=p.id%>"<button type="button" class="btn btn-outline-dark btn-sm""><%=p.description%></button></a>
    <div style="height:4px;font-size:1px;">&nbsp;</div>
<%end%>
</div>
<div class="footer">
<hr/>
<div class="text">
<a href="/user/profile"<button type="button" class="btn btn-outline-dark btn-sm">My Profile</button></a>
<a href='/logout'<button type="button logout" class="btn btn-outline-dark btn-sm">Logout</button></a>
</div>
</div>
</div>