<body>

    <div class="bg" style="z-index:-5;">
    <div class="container">

    <h1 class="display-1" style="font-family: FreeMono">Setup</h1>
    <h1 class="display-3" style="color:gray;font-family:FreeMono"> Set Up</h1>
    <br></br><br></br>
    <h1><a href="/sign_in"<button type="button sign_in" class="btn btn-outline-dark btn-lg""> Sign In </button></a>
    <a href="/users/new"<button type="button" class="btn btn-outline-dark btn-lg""> Create New User </button></h1></a>
    </div>
    </div>
</body>
