<body>
<div class="center">
<h1>Setup Set Up Homepage</h1>
</div>
<div class="main_buttons">
<%= button_to 'Sign In', {controller: "sessions", action: 'sign_in'}, method: :get %>
<%= button_to "Create New User", {controller: "users", action: "new" }, method: :get %>
</div>
</body>